/*===========================================================================================
--------------------------------------------------------------------------------------------
===========================================================================================*/
.storeLocator {
		width:calc(100% + 30px);
		margin:-30px 0px -30px -15px;
	#storeLocatorMap {
		height:400px;
		width:calc(100% + 30px);
		margin-left:-15px;
	}
	.store {
		header {
			position:relative;
			background-color:$primaryColor;
			padding:15px;
			border-bottom:1px solid $secondaryColor;
			h3 {
				color:$secondaryColor;
				margin-bottom:0px;
				padding-right:60px;
			}
			&::after {
				content:'\f107';
				font-family:"Font Awesome 5 Free";
				font-weight: 900;
				font-size:1.5rem;
				color:$secondaryColor;
				position:absolute;
				top:50%;
				right:30px;
				transform:translateY(-50%);
				-webkit-transform:translateY(-50%);
			}
		}
		.content {
			width:100%;
			display:flex;
			flex-wrap:wrap;
			background-color:$contentBackgroundColor;
			max-height:0px;
			overflow:hidden;
			transition:all 0.4s ease;
			footer {
				margin-top:30px;
			}
			.restaurantGegevens {
				ul {
					padding:0;
					li {
						list-style:none;
					}
				}
			}
			.button {
				margin-bottom:5px;
			}
		}
		&.active {
			.content {
				max-height:1000px;
				padding-top:30px;
				padding-bottom:30px;
			}
		}
	}
	.buttonContainer {
		.button {
			width:calc(50% + 15px);
			float:left;
			background-color:$accentColor;
			color:$secondaryColor;
			padding:15px;
			margin-left:-15px;
			transition:all 0.4s ease;
			opacity:0.8;
			&:hover {
				text-decoration:none;
				opacity:1;
			}
			&:nth-child(2) {
				margin-left: 0px;
				margin-right: -15px;
				background-color:$primaryColor;
				opacity:0.8;
				&:hover {
					opacity:1;
				}
			}
		}
	}
}