@import url('https://fonts.googleapis.com/css?family=Lato');
$primaryColor:0,177,235;
$secondaryColor:42,42,42;
$tertiaryColor:0,0,0;
$primaryFont:'Lato', sans-serif;
$secondaryFont:0,0,0;
$fontSize:16px;
$baseline:30px;